.el {
    height: 200px;
    width: 200px;
    background: rgba(0,0,0,1);
    position: relative;
    z-index: 3;
    color: red;
    transition: 1s;
    opacity: 0;
}
.el:hover {
    background: rgba(0,0,0,.5);
}
.el.active {
    opacity: 1;
}
.el2 {
    background: green;
    top: 50px;
    left: 50px;
}
.el3 {
    background: blue;
    position: sticky;
    top: 100px;
}
.text {
    position: absolute;
    top: 10px;
    right: 10px;
}
.textFixed {
    position: fixed;
    left: 50%;
    top: 50%;
}
.elements {
    width: 20%;
    position: relative;
}
@media screen{
    .textFixed {
        top: auto;
        bottom: 50px;
    }
}